<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Pablo Lucas",
                    apellido: "Slaj",
                    correo: "pablo.slaj@gmail.com",
                    dni: "36696704"
                },
                {
                    nombre: "LUCAS EZEQUIEL",
                    apellido: "MAZZONI",
                    correo: "hellolucasm@gmail.com",
                    dni: "42253191"
                },
                {
                    nombre: "Miguel Hernan",
                    apellido: "Pinella",
                    correo: "mhpinella@gmail.com",
                    dni: "37932974"
                },
                {
                    nombre: "Fernando",
                    apellido: "Bernasconi",
                    correo: "fernandobernasconi@gmail.com",
                    dni: "36191270"
                },
                {
                    nombre: "Cristian",
                    apellido: "Cometti",
                    correo: "cometticristian@gmail.com",
                    dni: "35716158"
                },
                {
                    nombre: "Martin",
                    apellido: "Gruber",
                    correo: "martogruber@hotmail.com",
                    dni: "40537273"
                },
                {
                    nombre: "Juan Ignacio",
                    apellido: "Lotito",
                    correo: "juanilotito@gmail.com",
                    dni: "40971614"
                },
                {
                    nombre: "Miguel Angel",
                    apellido: "Traversaro",
                    correo: "migueltraversaro@gmail.com",
                    dni: "39067992"
                },
                {
                    nombre: "Lautaro",
                    apellido: "Valenzuela",
                    correo: "lautarovalenzuela94@gmail.com",
                    dni: "43815634"
                },
                {
                    nombre: "MELANY CRISTINA",
                    apellido: "RUIZ",
                    correo: "melanyruiz12@gmail.com",
                    dni: "40007529"
                },
                {
                    nombre: "Gabriela",
                    apellido: "Alba",
                    correo: "gabriela.alba24@gmail.com",
                    dni: "18905522"
                },
                {
                    nombre: "GISELLA MARIA",
                    apellido: "ARAMAYO",
                    correo: "gisella.aramayo@gmail.com",
                    dni: "38511609"
                },
                {
                    nombre: "FEDERICO MARTIN",
                    apellido: "CRISCUOLO",
                    correo: "fc@criscuolo.com.ar",
                    dni: "30664318"
                },
                {
                    nombre: "SALMA ROCIO",
                    apellido: "DERMISACHE",
                    correo: "salma.dermisache@gmail.com",
                    dni: "42252693"
                },
                {
                    nombre: "BELEN ELIZABETH",
                    apellido: "ROMERO",
                    correo: "beellromero@gmail.com",
                    dni: "38983628"
                },
                {
                    nombre: "FEDERICO ARIEL",
                    apellido: "VAZQUEZ",
                    correo: "federicoarielvazquez@gmail.com",
                    dni: "29752258"
                },
                {
                    nombre: "Ivan",
                    apellido: "Ramis",
                    correo: "ivanra48@gmail.com",
                    dni: "36397441"
                },
                {
                    nombre: "LUCAS",
                    apellido: "AUPI",
                    correo: "lucas-aupi@hotmail.com",
                    dni: "39077076"
                },
                {
                    nombre: "Andres",
                    apellido: "Distefano",
                    correo: "ahdistefano@gmail.com",
                    dni: "36806982"
                },
                {
                    nombre: "ALEJO MANUEL",
                    apellido: "GARCIA",
                    correo: "ale.garciaa210@gmail.com",
                    dni: "37859210"
                }
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>