<section class="card">
    <div class="card-header">
        <h3>Componente  Formulario</h3>
    </div>
    <div class="card-body">
        <form novalidate @submit.prevent="enviar">

            <!-- campo nombre -->
             <div class="form-group">
                <label for="nombre">nombre</label>
                <input 
                    id="nombre" 
                    type="text" 
                    class="form-control" 
                    v-model.trim="formData.nombre" 
                    @input = "formDirty.nombre = true"
                />
                <!-- cartel de validacion -->
                <div v-if="errorNombre.mostrar" class="alert alert-danger my-1"> 
                    {{errorNombre.mensaje}}
                </div>
             </div>

             <!-- campo apellido -->
             <div class="form-group">
                <label for="apellido">apellido</label>
                <input 
                    id="apellido" 
                    type="text" 
                    class="form-control" 
                    v-model.trim="formData.apellido" 
                    @input = "formDirty.apellido = true"
                />
                <!-- cartel de validacion -->
                <div v-if="errorApellido.mostrar" class="alert alert-danger my-1"> 
                    {{errorApellido.mensaje}}
                </div>
             </div>

             <!-- campo edad -->
             <div class="form-group">
                <label for="edad">edad</label>
                <input 
                    id="edad" 
                    type="number" 
                    class="form-control" 
                    v-model.number="formData.edad" 
                    @input = "formDirty.edad = true"
                />
                <!-- cartel de validacion -->
                <div v-if="errorEdad.mostrar" class="alert alert-danger my-1"> 
                    {{errorEdad.mensaje}}
                </div>
             </div>

                <button class="btn btn-success my-3" :disabled="estadoBotonDeshabilitado()" >Enviar</button> <!-- se envia y se borra -->   

        </form>

        <hr>
        <p><u>Form Data</u></p>
        <pre>{{formData}} </pre><!-- pre es para q se vea como un json -->

        <hr>
        <p><u>Form Dirty</u></p>
        <pre>{{formDirty}} </pre>
    </div>
</section>